@charset "UTF-8";
@import "../../Common/less/variables";

.email-details {
    .info {
        padding: 0 10px;
        background-color: #aefffc;
        span {
            height: 30px;
            line-height: 30px;
        }
        .title {
            font-weight: 600;
        }
    }
    .content {
        padding: 10px;
    }
    .btns {

    }
}