@charset "UTF-8";
@import "../../Common/less/variables";

.email-receive {
    .my-table {
        tbody {
            tr {
                cursor: pointer;
            }
        }
        .email-img {
            img {
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }
        }
    }
}