@charset "UTF-8";
@import "../../Common/less/variables";

.post-message{
    .text-title {
        font-size: 16px;
        font-weight: 700;
        margin: 10px 0;
    }
    .content {
        border: 1px solid #e0e0e0;
        .text-box {
            width: 100%;
            padding: 10px;
            min-height: 150px;
            font-size: 14px;
        };
    }
    .btn {
        padding: 10px 10px 10px 0;
        border-top: 1px solid #e0e0e0;
        p {
            color: #8d8d8d;
            height: 32px;
            line-height: 32px;
        }
    }
    .success-row {
        width: 100%;
        background-color: #f9f9f9;
    }
}